
.crop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.crop__container{
    position: relative;
    width: 312px;
    height: 312px;

}

.crop__slider{
    width: 300px;
}